*.wav
*.mp3
*.mp4
*.code-workspace
Samples/
Code/archive/
Code/muscle_teensy_4.1/
Code/mega_simulation/
Code/teensy4.1_test/
.vscode/
./**/.vscode
**/.clang_complete
**/.gcc-flags.json
*.java
*.class
*.code-workspace
hardware/ECAD/SUPERMUSCLE/SUPERMUSCLE-backups
